/********** GRID **********/
.grid2_1_1 {
  display: grid;
  gap: 20px;
  padding: 10px;
}

.grid3_1_1 {
  padding: 10px;
}

/********** OTHER **********/
.img1 {
  background-image: url("webp/girl.webp");
  background-size: cover;
  width: 317px;
  margin-top: -469px;
  height: 554px;
  margin-left: 136px;
}

.textbox1 {
  margin-left: 4px;
  margin-top: 31px;
}

.offsetright {
  margin-left: 140px;
}

.offsetright2 {
  margin-left: 274px;
}
