/********** GRID **********/
/*Jeg display'er grid, for at kunne bruge gap på den, men uden at lave grid-template-columns/rows.*/
.grid2_1_1 {
  display: grid;
  gap: 15px;
  padding: 20px;
}

.grid3_1_1 {
  display: grid;
  gap: 20px;
  padding: 20px;
}
