/********** RESET **********/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/********** STYLE **********/

body {
  background-color: #101010;
  color: white;
  font-family: "IBM Plex Mono", monospace;
  background-image: url("webp/bg.webp");
  background-repeat: no-repeat;
}

/* Ret senere */
main {
  max-width: 1200px;
  margin-inline: auto;
}

.spacedown {
  margin-bottom: 55px;
}

/********** HEADER **********/

header {
  position: sticky;
  padding: 20px 10px;
}

header nav ul {
  list-style: none;
}

li {
  margin-bottom: 10px;
}

/********** TEXT **********/
h1,
h2,
h3,
p {
  color: #36f3e4;
}
h1 {
  font-size: 6rem;
}
h2 {
  font-size: 1.7rem;
  margin-bottom: 20px;
}
h3 {
  font-size: 1.1rem;
}
p {
  color: #e3eef2;
  font-size: 1rem;
}
ul.inside li {
  list-style: inside;
}
/*************** KNAP ***************/
.knap a {
  display: inline-block;
  padding: 15px;
  border-radius: 50px;
  background-color: #e3eef2;
  color: black;
  font-size: 1.4rem;
  text-decoration: none;
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
}

.knap a:hover {
  animation: fadelight_kf 5s linear infinite both;
}
a {
  color: rgb(0, 255, 110);
}

@keyframes fadelight_kf {
  /*Animation der fader en box shadow ind og ud med alpha
  Den starter på 20% og fader op til 100% og tilbage ned til 20%*/
  0% {
    box-shadow: 0px 0px 39px 11px rgb(54, 243, 228, 0.2);
  }

  50% {
    box-shadow: 0px 0px 39px 11px rgb(54, 243, 228);
  }

  100% {
    box-shadow: 0px 0px 39px 11px rgb(54, 243, 228, 0.2);
  }
}

.grid2_1_1 div a {
  margin-top: 20px;
}

/*************** GIF ***************/
.hackertext {
  margin-left: -135px;
  width: 361px;
  height: 550px;
}
.hackertext2 {
  margin-left: -209px;
  width: 500px;
  height: 600px;
  margin-top: -606px;
}

/*************** FOOTER ***************/
footer {
  text-align: center;
  font-family: "IBM Plex Mono", monospace;
  color: rgb(55, 55, 55);
  padding-bottom: 10px;
  padding-top: 20px;
  font-size: 0.9rem;
}

/*************** IMG ***************/
.grid2_1_1 div img {
  border-radius: 50px;
}

.ogbillede {
  font-size: 13px;
}

.matilde_open {
  margin-top: -39px;
}

.matilde_closed {
  margin-top: -397px;
  animation: close_eyes_kf 8s linear infinite both;
}

@keyframes close_eyes_kf {
  /*Animation der får billede til at lukke øjnene*/
  0% {
    opacity: 0%;
  }
  85% {
    opacity: 0%;
  }
  90% {
    opacity: 100%;
  }
  95% {
    opacity: 100%;
  }

  100% {
    opacity: 0%;
  }
}

/********** BURGER MENU **********/
.toggle-btn {
  display: block;
  border: none;
  cursor: pointer;
  padding: 15px;
  border-radius: 50px;
  background-color: #e3eef2;
  color: black;
  font-size: 1.4rem;
  font-family: "IBM Plex Mono", monospace;
  list-style: none;
}

.main-menu.shown {
  display: contents;
}

.main-menu ul {
  display: none;
}

.main-menu.shown ul {
  border-top: 2px solid #e3eef2;
  padding-top: 9px;
  margin-top: 9px;
  display: flex;
  flex-flow: column;
}

@media (min-width: 800px) {
}

/********** MEDIA QUERY **********/

/********** TABLET **********/
@media (min-width: 800px) {
  .img1 {
    width: 357px;
    margin-top: -211px;
    height: 625px;
    margin-left: -14px;
  }
  .textbox1 {
    margin-left: 97px;
    margin-top: 0;
  }
  .hackertext {
    margin-left: -22px;
    width: 361px;
    height: 550px;
  }
  .hackertext2 {
    margin-top: -532px;
  }

  .ogbillede {
    margin-left: 241px;
  }

  .matilde_open {
    margin-top: -27px;
  }
  .matilde_closed {
    display: none;
  }

  /********** GRID **********/
  .grid3_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .grid2_1_1 {
    margin-left: 40px;
    margin-right: 40px;
  }
  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 40px;
    margin-top: 157px;
  }
}

/********** LAPTOP **********/
@media (min-width: 1000px) {
  header {
    padding: 88px 149px;
    margin-left: auto;
    margin-right: auto;
  }
  li {
    margin-bottom: 0px;
  }
  .hackertext {
    margin-left: 406px;
    width: 400px;
    height: 600px;
  }
  .hackertext2 {
    margin-top: -557px;
  }
  .img1 {
    background-image: url("webp/girl.webp");
    background-size: cover;
    width: 716px;
    margin-top: -192px;
    height: 646px;
  }
  .toggle-btn {
    display: none;
  }
  .main-menu ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 60px;
    margin-right: 465px;
  }
  .spacedown {
    margin: 0;
  }
  .matilde_open {
    margin-top: -35px;
    width: 78%;
  }
  .matilde_closed {
    display: block;
    width: 78%;
    margin-top: -452px;
  }
  .ogbillede {
    margin-left: 250px;
  }
  /********** GRID **********/

  .grid_1_1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 40px;
    margin-top: 0;
  }
  .grid2_1_1 {
    grid-template-rows: 6fr;
    gap: 70px 30px;
  }
  .grid3_1_1 {
    gap: 50px 40px;
    margin-top: -35px;
    padding: 0;
  }
  /*jeg rykker rundt på de forksllige div'er, når vi er i laptop mode.
    nth er et givet tal der defineres i parentes.*/
  .grid2_1_1 div:nth-child(3) {
    grid-column: 2/3;
  }
  .grid2_1_1 div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .grid2_1_1 div:nth-child(7) {
    grid-column: 2/3;
  }
  .grid2_1_1 div:nth-child(8) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .grid2_1_1 div:nth-child(11) {
    grid-column: 2/3;
  }
  .grid2_1_1 div:nth-child(12) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
}
